<% include layout/header.html %>
    <style type="text/css">
        .span8{
            background-color: grey;   
        }
        
        #top-content .span8, #top-content .span4{
            height: 500px;                  
        }
        
        .span4{
            background-color: grey;   
        }
        
        #bottom-content{               
            margin-top: 10px;
/*            background-color: grey;*/
        }
        
        #bottom-content .span3{
            background-color: red;
            border-radius: 2px;
            height: 200px; 
        }
        
    </style>
    
    <div class="row-fluid main">
<!--        put your code in here-->
        <div id="main-content" class="row-fluid span10" style="margin: auto; float:none;">
            <div id="top-content" class="row-fluid">
                <div class="span8 text-center">
                    span 8
                </div>
                <div class="span4 text-center">
                    span 4
                </div>
            </div>
            <div id="bottom-content" class="row-fluid">
                <div class="text-center span3">
                    span 3
                </div>
                <div class="text-center span3">
                    span 3
                </div>
                <div class="text-center span3">
                    span 3
                </div>
                <div class="text-center span3">
                    span 3
                </div>
                
            </div>
        </div>
        
        
        
    </div>
    
<% include layout/footer.html %>
